<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta  http-equiv='Content-Type' content='text/html; charset=UTF-8' ></meta>
</head>
<body>
{% if ration %}
        <h3>Ration Report</h3>
        <hr>
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">Land_AccountNumber</th>
                  <th scope="col">Name</th>
                  <th scope="col">Village Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for x in ration %}
                <tr>
                    <th>{{x['land_accountnumber']}}</th>
                    <th>{{x['beneficiary_name']}}</th>
                    <th>{{x['village_name']}}</th>
                    <th>{{x['date']}}</th>
                    <th>{{x['type']}}</th>
                    <th>{{x['quantity']}}</th>
                </tr>
                {% endfor %}

              </tbody>
            </table>
    {% endif %}

    {% if tadpatri %}
        <h3>Tadpatri Report</h3>
        <hr>
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">Land_AccountNumber</th>
                  <th scope="col">Name</th>
                  <th scope="col">Village Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for x in tadpatri %}
                <tr>
                    <th>{{x['land_accountnumber']}}</th>
                    <th>{{x['beneficiary_name']}}</th>
                    <th>{{x['village_name']}}</th>
                    <th>{{x['date']}}</th>
                    <th>{{x['type']}}</th>
                    <th>{{x['quantity']}}</th>
                </tr>
                {% endfor %}

              </tbody>
            </table>
    {% endif %}

    {% if sewingMachine %}
        <h3>SewingMachine Report</h3>
        <hr>
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">Land_AccountNumber</th>
                  <th scope="col">Name</th>
                  <th scope="col">Village Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for x in sewingMachine %}
                <tr>
                    <th>{{x['land_accountnumber']}}</th>
                    <th>{{x['beneficiary_name']}}</th>
                    <th>{{x['village_name']}}</th>
                    <th>{{x['date']}}</th>
                    <th>{{x['type']}}</th>
                    <th>{{x['quantity']}}</th>
                </tr>
                {% endfor %}

              </tbody>
            </table>
    {% endif %}

</body>
</html>